@import "themes";
@import "grid-mixins";
@import "customCSS";
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

// @import "variables";

/* responsive declarations*/

.col-md {
  flex: 1 0 0%;
}
.row-cols-md-auto > * {
  flex: 0 0 auto;
  width: auto;
}
.row-cols-md-1 > * {
  flex: 0 0 auto;
  width: 100%;
}
.row-cols-md-2 > * {
  flex: 0 0 auto;
  width: 50%;
}
.row-cols-md-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}
.row-cols-md-4 > * {
  flex: 0 0 auto;
  width: 25%;
}
.row-cols-md-5 > * {
  flex: 0 0 auto;
  width: 20%;
}
.row-cols-md-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}
.col-md-auto {
  flex: 0 0 auto;
  width: auto;
}
.col-md-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}
.col-md-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}
.col-md-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-md-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.col-md-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}
.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-md-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}
.col-md-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}
.col-md-9 {
  flex: 0 0 auto;
  width: 75%;
}
.col-md-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}
.col-md-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}
.col-md-12 {
  flex: 0 0 auto;
  width: 100%;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
